doctype html
html(lang="en")
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')

    title= title

    link(rel='stylesheet', href='/bower_components/bootstrap/dist/css/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')

body
  header.navbar.navbar-default
    .left
      h1= title
      ul.nav.navbar-nav
        li: a(href='/chargen').btn without login
        li: a(href='/login').btn with login
      ul.nav.navbar-nav.navbar-right
        if user
          li: p.navbar-text loged in with #{user.username}.
          li: a(href='/logout') logout
        else
          li: a(href='/login').btn login
  main

    block content
  script('/bower_components/bootstrap/dist/js/bootstrap.min.js')
  script('https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js')

