extends layout
include mixins

block content

  if submitted && errors
    .errors
      ul
        each field in form
          if !field.valid && field.validationString
            li: label(for=field.name)= field.validationString
        if loginError
          li login error

  form(method='post', action='/login')
    each field in form
      +field(field, submitted)
    div: button login

  p: a(href='/create') create new account